body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("./todobg.jpg");
    background-size: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* under construction */

/* .main-title {
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
} */


/* right under body main div */
.main-div {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}
/* the image in japanese */
.title-png {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}
/* working on boxes */
.clip-title {
    margin-left: 5px;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.clip-title-num {
    margin-left: 5px;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* adding flair to the text */

.adding-flair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}



.group-title {
    display: flex;
    justify-content: flex-start;
}

.code-icon {
    padding-top: 3px;
    fill: white;
    width: 20px;
    height: auto;
}

/* todo 4 box main div */

.todo-box-main {
    width: 99%;
    display: flex;
    justify-content: space-around;
}

/* LIST ITEMS */

.list-item {
    border: 1px dashed #ff008d;
    height: 150px;
    width: 95%;
    align-self: center;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.content-icon {
    fill: #ff008d;
    justify-content: center;
}

/* LIST ITEMS /\ /\ /\ /\ /\ */

/* task contents */

.the-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-header {
    margin: 0;
    color: white;
    font-size: 20px;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 900;
}

.task-desc {
    margin: 0;
    color: white;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
}


/* low importance */
.task-importance {
    width: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    color: #E26EE5;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 700;
    border: 1px solid #E26EE5;
    border-radius: 3px;
}
/* medium importance */
.task-importance-medium {
    width: 70px;
    display: flex;
    justify-content: center;
    margin: 0;
    color: #f96363;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 700;
    border: 1px solid #f96363;
    border-radius: 3px;
}
/* high importance */
.task-importance-high {
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    color: red;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 700;
    border: 1px solid red;
    border-radius: 3px;
}

.icondiv {
    padding-top: 15px;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.content-icon {
    width: 20px;
    height: 20px;
}

/* hover for the check and x */

.content-icon:hover {
    cursor: pointer;
}

#edit-button {
    margin-top: 10px;
}

/* hover for the edit icon */

#edit-button:hover {
    cursor: pointer;
}

/* end of task contents */

/* main box */

.clip-notes {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 10px;
}

/* adding card area */

.add-card {
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

/* add button hover */

.add-card:hover .add-card-text {
    color: #6300ff;
    fill: #6300ff;
    cursor: pointer;
}

.add-card:hover .plus-icon {
    color: #6300ff;
    fill: #6300ff;
    cursor: pointer;
}

/* add button hover end */

.plus-icon {
    fill: white;
    height: 20px;
    width: 20px;
}

.add-card-text {
    margin-left: 5px;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 2px;
}

/* edit task area */


.edit-task {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(204,17,240,0.35);
    justify-content: center;
    align-items: center;
}

.edit-task-card{
    width: 400px;
    height: 500px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px dashed white;
}


/* new task area */

.new-task {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(204,17,240,0.35);
    justify-content: center;
    align-items: center;
}

.new-task-card{
    width: 400px;
    height: 500px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px dashed white;
}

.top-add-x {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    color: white;
    font-size: 25px;
    margin: 0;
    font-family: "Silkscreen", sans-serif;
}

.task-body {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-button {
    height: 50px;
    color: white;
    border: 0;
    background-color: #ff008d;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
}

.task-button:hover {
    color: #ff008d;
    background-color: white;
    cursor: pointer;
}

/* task inner area */

.task-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-inner-header {
    margin: 0;
    font-family: "Silkscreen", sans-serif;
    color: white;
}

.status-select {
    font-family: "Silkscreen", sans-serif;
}

#description-input {
    height: 150px;
}

#stats-select {
}

#priority-select {
    margin-bottom: 20px;
}



/* task inner area end */

/* end of new task */

/* end agreement */

.end-agreement {
    font-family: "Silkscreen", sans-serif;
    color: white;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0;
}